<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${ingredient.name}]]</title>
</head>

<body>

    <h1>Ingredient [[${ingredient.name}]]</h1>

    <p><b>Name: </b><span>[[${ingredient.name}]]</span></p>

    <p><b>Number of pizzas with this ingredient: </b><span>[[${ingredient.pizzas.size()}]]</span></p>

    <a th:href="@{/ingredients}">
        <button>Back to ingredients</button>
    </a>

</body>

</html>